.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;

}
.product-content{
    margin-left: 15px;
}
.main-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border : 1px solid black;
    cursor: pointer;
}